@tailwind base;
@tailwind components;
@tailwind utilities;

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Adjust minmax value as needed */
  gap: 1.5rem; /* Keep the gap consistent */
}
